<template>
  <div>
    <table style="width:100%">
      <tr>
        <th>Date Format</th>
        <th v-for="locale in locales">{{locale}}</th>
      </tr>
      <tr>
        <td>Short</td>
        <td v-for="locale in locales" :dir="[locale === 'ar'? 'rtl' : '']">
          {{$d(new Date, "dateShort", locale)}}
        </td>
      </tr>
      <tr>
        <td>Long</td>
        <td v-for="locale in locales" :dir="[locale === 'ar'? 'rtl' : '']">
          {{$d(new Date, "dateLong", locale)}}
        </td>
      </tr>
      <tr>
        <td>Numeric</td>
        <td v-for="locale in locales" :dir="[locale === 'ar'? 'rtl' : '']">
          {{$d(new Date, "dateNumeric", locale)}}
        </td>
      </tr>
      <tr>
        <td>2-digit</td>
        <td v-for="locale in locales" :dir="[locale === 'ar'? 'rtl' : '']">
          {{$d(new Date, "date2Digit", locale)}}
        </td>
      </tr>
    </table>

    <table style="width:100%">
      <tr>
        <th>Time Format</th>
        <th v-for="locale in locales">{{locale}}</th>
      </tr>
      <tr>
        <td>Short</td>
        <td v-for="locale in locales" :dir="[locale === 'ar'? 'rtl' : '']">
          {{$d(new Date, "timeShort", locale)}}
        </td>
      </tr>
      <tr>
        <td>Meduim</td>
        <td v-for="locale in locales" :dir="[locale === 'ar'? 'rtl' : '']">
          {{$d(new Date, "timeMedium", locale)}}
        </td>
      </tr>
      <tr>
        <td>Long</td>
        <td v-for="locale in locales" :dir="[locale === 'ar'? 'rtl' : '']">
          {{$d(new Date, "timeLong", locale)}}
        </td>
      </tr>

    </table>

    <table style="width:100%">
      <tr>
        <th>Date + Time</th>
        <th v-for="locale in locales">{{locale}}</th>
      </tr>
      <tr>
        <td>Short</td>
        <td v-for="locale in locales" :dir="[locale === 'ar'? 'rtl' : '']">
          {{$d(new Date, "short", locale)}}
        </td>
      </tr>
      <tr>
        <td>Long</td>
        <td v-for="locale in locales" :dir="[locale === 'ar'? 'rtl' : '']">
          {{$d(new Date, "long", locale)}}
        </td>
      </tr>
    </table>
  </div>
</template>
<script>
  export default {
    data(){
      return{
        locales: ['ar-EG', 'en-US', 'ko-KR', 'ru-RU']
      }
    }
  }
</script>
