<template>
  <div>
    <table style="width:100%">
      <tr>
        <th>Date Format</th>
        <th v-for="locale in locales">{{locale}}</th>
      </tr>
      <tr>
        <td>Short</td>
        <td v-for="locale in locales" :dir="[locale === 'ar-JO'? 'rtl' : '']">
          {{getDate(locale,'short')}}
        </td>
      </tr>
      <tr>
        <td>Long</td>
        <td v-for="locale in locales" :dir="[locale === 'ar-JO'? 'rtl' : '']">
          {{getDate(locale,'long')}}
        </td>
      </tr>
      <tr>
        <td>Numeric</td>
        <td v-for="locale in locales" :dir="[locale === 'ar-JO'? 'rtl' : '']">
          {{getDate(locale,'numeric')}}
        </td>
      </tr>
      <tr>
        <td>2-digit</td>
        <td v-for="locale in locales" :dir="[locale === 'ar-JO'? 'rtl' : '']">
          {{getDate(locale,'2-digit')}}
        </td>
      </tr>
    </table>

    <table style="width:100%">
      <tr>
        <th>Time Format</th>
        <th v-for="locale in locales">{{locale}}</th>
      </tr>
      <tr>
        <td>Short</td>
        <td v-for="locale in locales" :dir="[locale === 'ar-JO'? 'rtl' : '']">
          {{getTime(locale,'short')}}
        </td>
      </tr>
      <tr>
        <td>Medium</td>
        <td v-for="locale in locales" :dir="[locale === 'ar-JO'? 'rtl' : '']">
          {{getTime(locale,'medium')}}
        </td>
      </tr>
      <tr>
        <td>Long</td>
        <td v-for="locale in locales" :dir="[locale === 'ar-JO'? 'rtl' : '']">
          {{getTime(locale,'long')}}
        </td>
      </tr>
    </table>

    <table style="width:100%">
      <tr>
        <th>Date + Time</th>
        <th v-for="locale in locales">{{locale}}</th>
      </tr>
      <tr>
        <td>Short</td>
        <td v-for="locale in locales" :dir="[locale === 'ar-JO'? 'rtl' : '']">
          {{getDateWithTime(locale,'short')}}
        </td>
      </tr>
      <tr>
        <td>Long</td>
        <td v-for="locale in locales" :dir="[locale === 'ar-JO'? 'rtl' : '']">
          {{getDateWithTime(locale,'long')}}
        </td>
      </tr>
    </table>
  </div>
</template>

<script>

  export default {
    name: 'Home',
    data() {
      return {
        locales: ['ar-EG', 'en-US', 'ko-KR', 'ru-RU']
      }
    },
    methods: {
      getDate(locale,type) {
        const options = {day: 'numeric', month: type, year: 'numeric'}
        let date = new Date()
        return date.toLocaleDateString('en-US', options)
      },
      getTime(locale,type) {
        let date = new Date()
        return date.toLocaleTimeString(locale, { timeStyle: type })
      },
      getDateWithTime(locale,type) {
        const options = {day: 'numeric', month: type, year: 'numeric'}
        let date = new Date()
        return date.toLocaleDateString(locale,options)+' '+date.toLocaleTimeString(locale,{ timeStyle: type })
      }
    }
  }
</script>
<style>
  table, th, td{
    border: 1px solid black;
  }
</style>
