<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">toLocaleSting</router-link> |
      <router-link to="/i18n">i18n</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">

#nav {
  padding: 30px;
  text-align: center;
  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
